<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
      <div class="navbar">
        <div class="logo"><a href="#">
        <img src="https://i.pinimg.com/736x/0d/cf/b5/0dcfb548989afdf22afff75e2a46a508.jpg" alt="acb"   >
      </a>
      </div>
      <nav>
        <ul>
          <li><a href="#" target="_blank">Home</a></li>
          <li><a href="#" target="_blank">Contect</a></li>
          <li><a href="#" target="_blank">Service</a></li>
          <li><a href="#" target="_blank">Gallary</a></li>
          <li><a href="#" target="_blank">About</a></li>
        </ul>
        <button class="button" >sign-in</button>
        <button class="button">sign-up</button>
      </nav>
    </div>
      </header>
</body>
</html>
