<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- testimonial -->
<div class="wrapper">
    <h1>Our Happy Customer Review</h1>
    <h5>Check what they say about us</h5>
    <div class="cards">
       
      <div class="card">
        <img src="https://i.pinimg.com/736x/0d/cf/b5/0dcfb548989afdf22afff75e2a46a508.jpg" alt="abc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, magnam!</p>
        <h2>Prince Patel</h2>
        <h4>Account Adviser</h4>
        <i class="fa fa-quote-left"></i>
      </div>
  
  
      <div class="card">
        <img src="https://i.pinimg.com/736x/0d/cf/b5/0dcfb548989afdf22afff75e2a46a508.jpg" alt="abc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, magnam!</p>
        <h2>Meet Patel</h2>
        <h4>Resturant owner</h4>
        <i class="fa fa-quote-left"></i>
      </div>
  
  
      <div class="card">
        <img src="https://i.pinimg.com/736x/0d/cf/b5/0dcfb548989afdf22afff75e2a46a508.jpg" alt="abc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, magnam!</p>
        <h2>Neel Patel</h2>
        <h4>Shop owner</h4>
        <i class="fa fa-quote-left"></i>
      </div>
  
  
      <div class="card">
        <img src="https://i.pinimg.com/736x/0d/cf/b5/0dcfb548989afdf22afff75e2a46a508.jpg" alt="abc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, magnam!</p>
        <h2>Pratik Patel</h2>
        <h4>Builder</h4>
        <i class="fa fa-quote-left"></i>
      </div>
    </div>
  </div>
  
</body>
</html>