<div class="blog-post">
    <div class="blog-img">
      <img src="https://i.pinimg.com/736x/0d/cf/b5/0dcfb548989afdf22afff75e2a46a508.jpg" alt="abc">
    </div>
    <div class="blog-info">
      <div class="blog-title">
        <h2>blog-post card design</h2>
      </div>
      <div class="blog-date">
        <span>Friday</span>
        <span>jan-10-2023</span>
      </div>
      <div class="blog-desc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora fugiat ducimus assumenda! Ut, amet consectetur!</p>
      </div>
      <div class="blog-read-more">
        <a href="#">Read more</a>
      </div>
    </div>
   </div>
