/* blog */

.blog-post{
    display: flex;
    flex-direction: row;
    margin: 10rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 148, 148);
    margin-bottom: -700px;
}
.blog-img{
    flex: 1;
    padding: 2rem 2rem 2rem 0rem;
}

.blog-img>img{
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    object-fit: covor;
    transform:translateX(-50px);
    box-shadow: 0px 0px 3px 3px rgba(0 ,0 ,0 ,0.5);
}

.blog-info{
    flex: 2;
    padding: 2rem;
}
.blog-title h2{
    color: #673AB7;
}
.blog-read-more a{
    cursor: pointer;
    font-style: normal;
    border-radius: 0.3rem;
    padding: 0.1rem;
    background-color: rgb(248, 234, 234);
    border: 1px solid #673AB7;
    /* color: #673AB7 !important; */
    box-shadow: 0 0.05em 0.1em rgba(0 ,0 ,0 ,0.25);
    margin-top: 150px; 

}

.blog-read-more a:hover{
    transition: .5s;
    background-color: #673AB7 ;
    border: 1px solid #673AB7;
    color: #f2f2f2;
    text-decoration: none;

}